<template>
  <div>   

    <div class="field">
        <label class="checkbox">
        <input type="checkbox" v-model="showPoints">
        Mostrar pontos
        </label>
    </div>

    <GmapMap
    :center="{lat:-23.550520, lng:-46.633309}"
    :zoom="7"
    map-type-id="terrain"
    style="width: 100%; height: 500px">

      <GmapMarker ref="mapRef" v-if="showPoints"
      :key="index"
      v-for="(p, index) in points"
      :position="coordinateToObj(p.point)"
      :clickable="true"
      :draggable="true"/>

      <GmapMarker
      :key="index"
      v-for="(c, index) in centers"
      :position="coordinateToObj(c.point)"
      :clickable="true"
      :draggable="true"
      :icon="'http://maps.google.com/mapfiles/kml/shapes/road_shield3.png'"
      :label="c.count"/>

    </GmapMap>

  </div>
</template>

<script>
import StudentService from '../domain/student-service'

export default {
    data () {
        return {
            clusters: [],
            showPoints: false
        }
    },

    created() {
        this.studentService = new StudentService()
        this.findClusters()
    },

    methods: {
        findClusters() {
            this.studentService
                .findClusters()
                .then(res => this.clusters = res.data)
                .catch(err => console.log(err))
        },

        coordinateToObj(arr) {
            return {lat:arr[0], lng:arr[1]}
        }
    },

    computed: {
        points() {
            let result = []
            for (let i=0; i<this.clusters.length; i++)
                result.push(...this.clusters[i].points)
            return result
        },

        centers() {
            let result = []            
            for (let i=0; i<this.clusters.length; i++)
                result.push({
                    count: this.clusters[i].count+"",
                    point: this.clusters[i].center.point
                })
                
            return result
        }
    }
}
</script>

<style scoped>

</style>
