<template>
  <div>

    <div class="columns">
      <div class="column">
        <table class="table is-mobile is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Name</th>
              <th>Endereço</th>
              <th>Próximos</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="student in students" :key="student.id" :value="student">
              <td>{{student.name}}</td>
              <td>{{student.contact.address}}</td>
              <td>
              <button class="button" @click="filterNear(student)">Filtrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column">
        <article class="message">
          <div class="message-header">
            <p>Filtros</p>
          </div>
          <div class="message-body">
            <div class="field">
              <label class="label">Quantidade de estudantes próximos</label>
              <div class="control">
              <input class="input" type="number" v-model="limit">
              </div>
            </div>

            <div class="field">
              <label class="checkbox">
              <input type="checkbox" v-model="showReference">
              Mostrar ponto de referência?
              </label>
            </div>
          </div>
        </article>

        <router-link class="button is-info" :to="{ name: 'StudentForm' }">
          Cadastrar estudante
        </router-link>
      </div>
    </div>
    
    <button class="button is-success mrg-btm is-fullwidth" @click="findStudents">Show all points</button>

    <GmapMap
    :center="{lat:-23.550520, lng:-46.633309}"
    :zoom="7"
    map-type-id="terrain"
    style="width: 100%; height: 500px">

      <GmapMarker ref="mapRef"
      :key="student.id"
      v-for="student in studentsNear"
      :position="coordinateToObj(student.contact.coordinates)"
      :clickable="true"
      :draggable="true"
      @click="center=coordinateToObj(student.contact.coordinates)"/>
    </GmapMap>

  </div>
</template>

<script>
import StudentService from '../domain/student-service'

export default {
  data () {
    return {
      students: [],
      studentsNear: [],
      limit: 3,
      showReference: false
    }
  },

  created() {
    this.studentService = new StudentService()
    this.findStudents()
  },

  methods: {
    findStudents() {
      this.studentService
          .findStudents()
          .then(res => this.students = this.studentsNear = res.data)
          .catch(err => console.log(err))
    },
    
    coordinateToObj(arr) {
      return {lat:arr[0], lng:arr[1]}
    },

    filterNear(student) {

      let skip = 1
      let limit = this.limit

      if (this.showReference) {
        skip = 0
        limit++
      }

      this.studentService
          .findNear(student.id, limit, skip)
          .then(res => this.studentsNear = res.data)
          .catch(err => console.log(err))
    }
  }
}
</script>

<style scoped>

</style>
