<template>
    <div>
        <form novalidate @submit.stop.prevent="onSubmit" class="mrg-btm">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" v-model="student.name" placeholder="Nome">
                </div>
            </div>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="student.contact.address" placeholder="Endereço">
                </p>
                <p class="control">
                    <button class="button is-success" @click="findCoordinatesByAddress" type="button">Verificar no mapa!</button>
                </p>               
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <router-link :to="{ name: 'StudentList'}">
                    <button class="button is-text">Voltar</button>
                    </router-link>
                </div>
            </div>
        </form>

        <div v-if="coordinate">
            <GmapMap
            :center="{lat:-23.550520, lng:-46.633309}"
            :zoom="7"
            map-type-id="terrain"
            style="width: 100%; height: 300px">

                <GmapMarker ref="mapRef"
                :position="coordinate"
                :clickable="true"
                :draggable="true"
                @click="center=coordinate"/>

            </GmapMap>
        </div>
    </div>
</template>

<script>
import StudentService from '../domain/student-service'

export default {

    data() {
        return {
            student: {
                nome: '', 
                contact: {
                    address: ''        
                }
            },

            coordinate: null
        }
    },

    created() {
        this.studentService = new StudentService()
    },

    methods: {
        onSubmit() {
            this.studentService
                .save(this.student)
                .then(res => this.clear())
                .catch(err => console.log(err))
        },

        findCoordinatesByAddress() {
            this.studentService
                .findCoordinatesByAddress(this.student.contact.address)
                .then(res => this.coordinate = res.data)
                .catch(err => console.log(err))
        },

        clear() {
            this.student.name = ''
            this.student.contact.address = ''
        }
    }

}
</script>

<style scoped>

</style>
