<template>
  <div id="app" class="container">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  margin-top: 30px;
}
.mrg-btm {
  margin-bottom: 16px;
}
</style>
